.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-500);
  padding: 64px 24px;
  gap: 16px;
  width: 46rem;
  height: 15.25rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.wrapper img {
  width: 56;
  height: 56;
  padding: 1rem;
}

.title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  color: var(--gray-300);
}

.subTitle {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: var(--gray-300);
}
